  <div class="well">

    <div class="row">
      <div class="col-md-4">
        <h4>Networks</h4>

            <a ui-sref="network-list">View</a><br/>
            <a href="javascript:void(0)" ng-click="init_form(null, 'NETWORK')">Add Network</a><br/>

      </div>
      <div class="col-md-4">
        <h4>Cohorts</h4>

            <a ui-sref="cohort-list">View</a><br/>
            <a href="javascript:void(0)" ng-click="init_form(null, 'COHORT')">Add Cohort</a><br/>

      </div>
      <div class="col-md-4">
        <h4>Users</h4>

            <a ui-sref="user-list">View</a><br/>
            <a href="javascript:void(0)" ng-click="init_form(null, 'USER')">Add User</a><br/>

      </div>

    </div>

    <div class="row">
      <br/>
    </div>

    <div class="row">
      <div class="col-md-4">
        <h4>Analytes</h4>

            <a ui-sref="analyte-list">View</a><br/>
            <a href="javascript:void(0)" ng-click="init_form(null, 'ANALYTE')">Add Analyte</a><br/>

      </div>
      <div class="col-md-4">
        <h4>Conjugates</h4>

            <a ui-sref="conjugate-list">View</a><br/>
            <a href="javascript:void(0)" ng-click="init_form(null, 'CONJUGATE')">Add Conjugate</a><br/>

      </div>
      <div class="col-md-4">
        <h4>Buffers</h4>

            <a ui-sref="buffer-list">View</a><br/>
            <a href="javascript:void(0)" ng-click="init_form(null, 'BUFFER')">Add Buffer</a><br/>

      </div>

    </div>

    <div class="row">
      <br/>
    </div>

    <div class="row">
      <div class="col-md-4">
        <h4>Sample Types</h4>

            <a ui-sref="sample-type-list">View</a><br/>
            <a href="javascript:void(0)" ng-click="init_form(null, 'SAMPLE_TYPE')">Add Sample Type</a><br/>

      </div>
      <div class="col-md-4">
        <h4>Isotypes</h4>

            <a ui-sref="isotype-list">View</a><br/>
            <a href="javascript:void(0)" ng-click="init_form(null, 'ISOTYPE')">Add Isotype</a><br/>

      </div>
    </div>
  </div>