    <accordion close-others="false">
      <accordion-group>
        <accordion-heading>
          <a href="" ng-click="isOpen = !isOpen">
              <i class="glyphicon" ng-class="{'glyphicon-chevron-down': isOpen, 'glyphicon-chevron-right': !isOpen}"></i>
              Import Data
            </a>
        </accordion-heading>

        <div class="slide" ng-controller="ImportController">
          <div class="drop-box" ng-show="dropSupported" ng-file-drop="onFileSelect($files);" ng-file-drop-available="dropSupported=true">

            <div class="text-center instruction" ng-hide="csv_data.length > 0"><em>Drop CSV files here</em></div>

            <div ng-show="csv_data.length > 0">

              <div class="text-center">
                <h4><em>{{ file_name }}</em></h4>
              </div>

              <h5>{{ csv_data.length }} records found</h5>

            </div>

            <div class="well well-warning" ng-show="csv_errors.length > 0">
              <h5><em>Errors found in CSV file. Please correct the CSV file and try again.</em></h5>
              <ul class="list-unstyled">
                <li ng-repeat="e in csv_errors track by $index">{{ e }}</li>
              </ul>
            </div>
          </div>

          <div ng-show="upload_success">
            <br/>
            <div class="panel panel-success">
              <div class="panel-heading">
                <h3 class="panel-title">Upload Completed</h3>
              </div>
              <div class="panel-body">
                {{ success_message }}
              </div>
            </div>
          </div>

          <br/>

          <div class="pull-right no-wrap">
            <img data-ng-show="importing" src="/static/img/whirligig.gif">
            <a class="btn btn-success btn-xs" ng-disabled="!csv_data || csv_errors.length > 0 || importing" ng-click="import_data()">Import Data</a>
          </div>

        </div>

      </accordion-group>
    </accordion>

    <div class="row">
      <div class="col-md-3">

        <div class="well" style="margin-top:52px">
          <div style="position: relative">
            <h5>Filter Data</h5>
            <div style="position: absolute; right:0;top:0;">
              <button class="btn btn-default btn-xs" ng-click="apply_filter()">
                Apply
              </button>
            </div>
          </div>

          <hr/>

          <ul class="form-group">
            <li>
              <b>Notebooks</b>

              <br/>

              <select ui-select2="{}" multiple ng-model="filters.selected_notebooks">
                <option value="{{ n }}" data-ng-repeat="n in filters.distinct_notebooks">{{ n }}</option>
              </select>
            </li>

            <li>
              <b>Participants</b>

              <br/>

              <select ui-select2="{}" multiple ng-model="filters.selected_participants">
                <option value="{{ p }}" data-ng-repeat="p in filters.distinct_participants">{{ p }}</option>
              </select>
            </li>

            <li>
              <b>Visit Codes</b>

              <br/>

              <select ui-select2="{}" multiple ng-model="filters.selected_visit_codes">
                <option value="{{ vc }}" data-ng-repeat="vc in filters.distinct_visit_codes">{{ vc }}</option>
              </select>
            </li>

            <li>
              <b>Visit Dates</b>

              <br/>

              <div class="row">
                <div class="col-sm-6">
                  <input type="text" ng-model="filters.min_visit_date" placeholder="Min value" size="10" ng-click="datepicker.open_min_visit_date($event)" datepicker-popup="{{datepicker.format}}" is-open="datepicker.min_visit_date_open" datepicker-options="datepicker.dateOptions" close-text="Close" />
                </div>

                <div class="col-sm-6">
                  <input type="text" class="pull-right" ng-model="filters.max_visit_date" placeholder="Max value" size="10" ng-click="datepicker.open_max_visit_date($event)" datepicker-popup="{{datepicker.format}}" is-open="datepicker.max_visit_date_open" datepicker-options="datepicker.dateOptions" close-text="Close" />
                </div>
              </div>
            </li>
            
            <li>
              <b>Assay Dates</b>

              <br/>

              <div class="row">
                <div class="col-sm-6">
                  <input type="text" ng-model="filters.min_assay_date" placeholder="Min value" size="10" ng-click="datepicker.open_min_assay_date($event)" datepicker-popup="{{datepicker.format}}" is-open="datepicker.min_assay_date_open" datepicker-options="datepicker.dateOptions" close-text="Close" />
                </div>

                <div class="col-sm-6">
                  <input type="text" class="pull-right" ng-model="filters.max_assay_date" placeholder="Max value" size="10" ng-click="datepicker.open_max_assay_date($event)" datepicker-popup="{{datepicker.format}}" is-open="datepicker.max_assay_date_open" datepicker-options="datepicker.dateOptions" close-text="Close" />
                </div>
              </div>
            </li>

            <li>
              <b>Analytes</b>

              <br/>

              <select ui-select2="{}" multiple ng-model="filters.selected_analytes">
                <option value="{{ a.name }}" data-ng-repeat="a in analytes">{{ a.name }}</option>
              </select>
            </li>

            <li>
              <b>Isotypes</b>

              <br/>

              <select ui-select2="{}" multiple ng-model="filters.selected_isotypes">
                <option value="{{ i.name }}" data-ng-repeat="i in isotypes">{{ i.name }}</option>
              </select>
            </li>

            <li>
              <b>Conjugates</b>

              <br/>

              <select ui-select2="{}" multiple ng-model="filters.selected_conjugates">
                <option value="{{ c.name }}" data-ng-repeat="c in conjugates">{{ c.name }}</option>
              </select>
            </li>

            <li>
              <b>Sample Types</b>

              <br/>

              <select ui-select2="{}" multiple ng-model="filters.selected_sample_types">
                <option value="{{ st.name }}" data-ng-repeat="st in sample_types">{{ st.name }}</option>
              </select>
            </li>

            <li>
              <b>Buffers</b>

              <br/>

              <select ui-select2="{}" multiple ng-model="filters.selected_buffers">
                <option value="{{ b.name }}" data-ng-repeat="b in buffers">{{ b.name }}</option>
              </select>
            </li>

            <li>
              <b>Beads</b>

              <br/>

              <select ui-select2="{}" multiple ng-model="filters.selected_bead_numbers">
                <option value="{{ b }}" data-ng-repeat="b in filters.distinct_bead_numbers">{{ b }}</option>
              </select>
            </li>

            <li>
              <b>CV</b>

              <br/>

              <div class="row">
                <div class="col-sm-6">
                  <input type="text" ng-model="filters.min_cv" placeholder="Min value" size="10">
                </div>

                <div class="col-sm-6">
                  <input type="text" class="pull-right" ng-model="filters.max_cv" placeholder="Max value" size="10">
                </div>
              </div>
            </li>

          </ul>
        </div>
      </div>

      <div class="col-md-9">
        <table id="data-table" class="table table-hover">
          <thead>
            <tr>

                <th colspan="50">

                  <div style="position:relative;">

                    <div style="position: absolute; left:0;top:0;">
                      <export-csv></export-csv>
                    </div>

                    <h4 class="text-center">
                      Data Points
                      <span class="badge badge-inverse align-top">
                        {{ displayed_items }} of {{ total_items }}
                      </span>
                    </h4>

                    <div style="position: absolute; right:0;top:0;">
                      <button class="btn btn-info btn-xs" type="button" ng-click="open_column_chooser('sm')">
                        Choose Columns
                      </button>

                      <script type="text/ng-template" id="myModalContent.html">
                        <div class="modal-header">
                          <h3 class="modal-title">Choose Columns</h3>
                        </div>
                        <div class="modal-body">
                          <ul class="list-unstyled">
                            <li ng-repeat="(key, value) in instance">
                              <label>
                                <input type="checkbox" ng-model="value.show" />
                                {{ value.name }}
                              </label>
                            </li>
                          </ul>
                        </div>
                        <div class="modal-footer">
                          <button class="btn btn-primary" ng-click="ok()">OK</button>
                        </div>
                      </script>
                    </div>

                  </div>

                </th>
            </tr>
            <tr>
                <th></th>
                <th ng-show="data_point_columns.notebook_name.show">Notebook</th>
                <th ng-show="data_point_columns.participant_code.show">Participant</th>
                <th ng-show="data_point_columns.global_id_code.show">Global ID</th>
                <th ng-show="data_point_columns.visit_code.show">Visit</th>
                <th ng-show="data_point_columns.visit_date.show">Visit Date</th>
                <th ng-show="data_point_columns.assay_date.show">Assay Date</th>
                <th ng-show="data_point_columns.analyte_name.show">Analyte</th>
                <th ng-show="data_point_columns.bead_number.show">Bead #</th>
                <th ng-show="data_point_columns.dilution.show">Dilution</th>
                <th ng-show="data_point_columns.sample_type_name.show">Sample Type</th>
                <th ng-show="data_point_columns.conjugate_name.show">Conjugate</th>
                <th ng-show="data_point_columns.isotype_name.show">Isotype</th>
                <th ng-show="data_point_columns.buffer_name.show">Buffer</th>
                <th ng-show="data_point_columns.fi_minus_background.show">FI-Bkgd</th>
                <th ng-show="data_point_columns.fi_minus_background_blank.show">FI-Bkgd-Blank</th>
                <th ng-show="data_point_columns.cv.show">CV</th>
                <th ng-show="data_point_columns.upload_date.show">Upload Date</th>
                <th ng-show="data_point_columns.user.show">Uploaded By</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="dp in filtered_data_points | filter : paginate">
              <td class="no-wrap" width="1%">

              </td>
              <td ng-show="data_point_columns.notebook_name.show">{{ dp.notebook_name }}</td>
              <td ng-show="data_point_columns.participant_code.show">{{ dp.participant_code }}</td>
              <td ng-show="data_point_columns.global_id_code.show">{{ dp.global_id_code }}</td>
              <td ng-show="data_point_columns.visit_code.show">{{ dp.visit_code }}</td>
              <td ng-show="data_point_columns.visit_date.show">{{ dp.visit_date }}</td>
              <td ng-show="data_point_columns.assay_date.show">{{ dp.assay_date }}</td>
              <td ng-show="data_point_columns.analyte_name.show">{{ dp.analyte }}</td>
              <td ng-show="data_point_columns.bead_number.show">{{ dp.bead_number }}</td>
              <td ng-show="data_point_columns.dilution.show">{{ dp.dilution }}</td>
              <td ng-show="data_point_columns.sample_type_name.show">{{ dp.sample_type }}</td>
              <td ng-show="data_point_columns.conjugate_name.show">{{ dp.conjugate }}</td>
              <td ng-show="data_point_columns.isotype_name.show">{{ dp.isotype }}</td>
              <td ng-show="data_point_columns.buffer_name.show">{{ dp.buffer }}</td>
              <td ng-show="data_point_columns.fi_minus_background.show">{{ dp.fi_minus_background }}</td>
              <td ng-show="data_point_columns.fi_minus_background_blank.show">{{ dp.fi_minus_background_blank }}</td>
              <td ng-show="data_point_columns.cv.show">{{ dp.cv }}</td>
              <td ng-show="data_point_columns.upload_date.show">{{ dp.upload_date }}</td>
              <td ng-show="data_point_columns.user.show">{{ dp.user }}</td>
            </tr>
          </tbody>
        </table>
        <div class="text-center" ng-show="filtered_data_points.length > items_per_page">
        <pagination total-items="displayed_items" ng-model="$parent.current_page"
          max-size="5" boundary-links="true"
          items-per-page="items_per_page">
        </pagination>
        </div>
      </div>
    </div>