    <table id="data-table" class="table table-hover">
      <thead>
        <tr>
          <th colspan="50" class="center">
            <div style="position:relative">
              <h4>Networks <span class="badge badge-inverse align-top">{{ networks.length }}</span></h4>

              <div class="btn-group" ng-show="user.staff" style="position:absolute; right:0;top:0;">
                  <a class="btn btn-default btn-sm" ng-click="init_form(null)">
                      Add Network
                  </a>
              </div>
            </div>
          </th>
        </tr>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="network in networks">
          <td class="no-wrap" width="1%">
              <a class="btn btn-default btn-xs" ng-show="user.staff" ng-click="init_form(network)" tooltip="Edit" tooltip-placement="bottom">
                <span style="opacity: 0.4" class="fa fa-pencil align-middle"></span>
              </a>
          </td>
          <td>{{ network.name }}</td>
          <td>{{ network.description }}</td>
        </tr>
      </tbody>
    </table>