    <table class="table">
      <thead>
        <tr>
          <th class="center" colspan="50">
            <div style="position:relative">
              <h4>{{ current_project.name }}</h4>
              <div style="position:absolute; right:0;top:0;">
                <div class="btn-group">
                    <a class="btn btn-danger btn-sm" ng-click="init_delete(current_project, 'PROJECT_DELETE')" ng-show="can_modify_project">Delete Project</a>
                </div>

                <div class="btn-group">
                    <a class="btn btn-default btn-sm" ng-click="init_form(current_project, 'PROJECT')" ng-show="can_modify_project">Edit Project</a>
                    <a class="btn btn-default btn-sm"  ui-sref="user-list" ng-show="can_manage_users">Manage Users</a>
                </div>
              </div>
            </div>
          </th>
        </tr>
      </thead>
      <tr>
        <td colspan="50">{{ current_project.description }}</td>
      </tr>
    </table>
    <div class="well">

      <div class="row">
        <div class="col-md-3">
          <h4>Data Points</h4>

              <a ui-sref="project-data-list({projectId: current_project.id })">View</a><br/>

        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-3">

        </div>
      </div>

      <div class="row">
        <br/>
      </div>

    </div>